<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @neighborhood.name %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @neighborhood.rent %>
</p>

<p>
  <strong>Park:</strong>
  <%= @neighborhood.park %>
</p>

<p>
  <strong>Activities:</strong>
  <%= @neighborhood.activities %>
</p>

<p>
  <strong>Architecture:</strong>
  <%= @neighborhood.architecture %>
</p>

<p>
  <strong>Commute:</strong>
  <%= @neighborhood.commute %>
</p>

<%= link_to 'Edit', edit_neighborhood_path(@neighborhood) %> |
<%= link_to 'Back', neighborhoods_path %>
